.transactionHistory {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 300px;
  border: 1px solid rgb(197, 191, 191);
  border-spacing: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgb(159, 147, 147);
}
.tab-title {
  background-color: rgb(70, 198, 198);
  width: 300px;
}
.tab-body {
  text-align: center;
  font-size: 12px;
}

td {
  padding: 6px;
  border-left: 1px solid #ddd;
}
tbody tr:nth-child(even) {
  background-color: #d7e9f2;
}
tbody tr:nth-child(odd) {
  background-color: #fdfefe;
}

.tab-title-text {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
}
.tab-text {
    font-size: 10px;
}